<!DOCTYPE html>
<html data-ng-app="pickSel">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= csrf_meta_tags %>

	<title>PickSel admin</title>
	<link rel="stylesheet" type="text/css" href="//yastatic.net/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
	<body>
		<%= yield %>
	</body>
</html>
